<h2 class ="page-header"> Login </h2>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" (submit)="onLoginSubmit()">
        <input type = "text" [(ngModel)]="username" name="username" class = "form-control" placeholder= "username"> 
        <input type = "password" [(ngModel)]="password" name="password" class = "form-control" placeholder = "password">
        <button input type = "submit" class = "btn btn-primary" value = "Login"> Login </button>
        <p class="message" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">Not registered? <a href="#" [routerLink]="['/register']">Create an account</a></p>
    </form>
  </div>
</div>



