<div class="jumbotron text-center">
<h1> AFL Tipping System </h1>
<p class ="lead"> Created by Team Q </p>
  <div>
  <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a> 
  </div>
</div>

 <div class="row">
  <div class="col-md-4">
    <h3> Submit your tips </h3>
    <p> Create an account and tip against other La Trobe students! <p>
  </div>

   <div class="col-md-4">
    <h3> Weekly Reminders </h3>
    <p> Get weekly reminder emails to remind you to submit your tips for the upcoming round!<p>
  </div>

   <div class="col-md-4">
    <h3> Full Leaderboard  </h3>
    <p> A leaderboard system to see how you rank amongst your peers!<p>
  </div>


</div>


<footer> created by team q 2017 all rights reserved </footer>

